<!DOCTYPE html>
<html> 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Home </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
    <body>
      <div class="container">
        <h1 class="text-center" >Welcome to the Home Page</h1>
        <p class="text-center">This is the home page content.</p>
        <img class="img-fluid" src="https://fa1b8b23-f070-4ef4-9df6-725c8356d4ee-00-35lvtumaov4nt.pike.replit.dev/static/banner.avif">
        <br>
        <h2 class="text-center lead" >About</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>

      <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
      </ul>

        <h2>Services</h2>
        <p>Web Design</p> <p>Graphic Design</p> <p>SEO</p> <p>Social Media Management</p> <p>Content Creation</p
      </div>
                                                                                                               
         <button class="btn btn-primary btn-lg btn-block" > click here </button>                                                                                                      
      
    </body>
</html>